In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('dataset/rit.csv',encoding='latin1')
df.head()

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2024-01-07,Films (English),1,The Equalizer 3,NaN,26800000,1.8167,14800000.0,1,False,NaN
1,2024-01-07,Films (English),2,Rebel Moon ? Part One: A Child of Fire,NaN,25100000,2.2667,11100000.0,3,False,NaN
2,2024-01-07,Films (English),3,Leave the World Behind,NaN,18700000,2.3667,7900000.0,5,False,NaN
3,2024-01-07,Films (English),4,Exodus: Gods and Kings,NaN,18600000,2.5000,7400000.0,1,False,NaN
4,2024-01-07,Films (English),5,Aquaman,NaN,16800000,2.3833,7000000.0,1,False,NaN

In [10]:
df['weekly_rank'].is_unique

False

In [11]:
df['weekly_hours_viewed'].is_unique

False

In [12]:
df.loc[206]

week                               2023-12-03
category                      Films (English)
weekly_rank                                 7
show_title                         The Killer
season_title                              NaN
weekly_hours_viewed                   7100000
runtime                                   2.0
weekly_views                        3600000.0
cumulative_weeks_in_top_10                  4
is_staggered_launch                     False
episode_launch_details                    NaN
Name: 206, dtype: object

In [13]:
df.set_index('weekly_rank', inplace=True)

In [15]:
df.dtypes.value_counts()

object     5
int64      2
float64    2
bool       1
Name: count, dtype: int64

In [16]:
to_drop=['weekly_rank']

In [17]:
df.head()

,week,category,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
weekly_rank,,,,,,,,,,
1,2024-01-07,Films (English),The Equalizer 3,NaN,26800000,1.8167,14800000.0,1,False,NaN
2,2024-01-07,Films (English),Rebel Moon ? Part One: A Child of Fire,NaN,25100000,2.2667,11100000.0,3,False,NaN
3,2024-01-07,Films (English),Leave the World Behind,NaN,18700000,2.3667,7900000.0,5,False,NaN
4,2024-01-07,Films (English),Exodus: Gods and Kings,NaN,18600000,2.5000,7400000.0,1,False,NaN
5,2024-01-07,Films (English),Aquaman,NaN,16800000,2.3833,7000000.0,1,False,NaN